body {
  margin: 0;
  padding: 0;
  font-family: "Spline Sans Mono", monospace;
  background: rgb(209, 249, 228);
  background: radial-gradient(
    circle,
    rgba(209, 249, 228, 1) 0%,
    rgba(236, 189, 249, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}
